.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
     box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 5px 10px 8px 15px;
    min-height: 48px;
    position: relative;
    clear: both;
    display: -webkit-box;
}

.label {
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
    border-radius: 0.25em;
    line-height: 1;
    white-space: nowrap;
    margin-right: 4px;
    vertical-align: bottom;
}

.ibox-tools {
    display: block;
    float: none;
    margin-top: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    text-align: right;
}

.ibox-content {
    clear: both;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px !important;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-content > ul, ul{
    list-style-type: none;
}

.nav-tabs-custom {
    margin-bottom: 20px;
    background: #f3f3f4;
    box-shadow: none;
    border-radius: 3px;
    padding: 20px;
}

.ibox-contant-crud > .content >.nav-tabs-custom {
    margin-bottom: 20px;
    background: transparent;
    box-shadow: none;
    border-radius: 3px;
    position: 50px;
}

.ibox-contant-crud > .content >.nav-tabs-custom>.tab-content {
    background: transparent !important;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4 !important;
}
