/* .content-wrapper{
    height                 : 100%;
    min-height             : 568px;
    background-color       : #003068;
    background-image       : url(../img/bg_auttran.jpg);
    background-size        : cover;
    background-attachment  : fixed;
    background-position    : center center;
    opacity                : 0.8;
} */

.jumbotron {
    padding-top      : 60px;
    padding-bottom   : 60px;
    margin-bottom    : 30px;
    color            : inherit;
    /*background-color : #003068;*/
    background-color : #364145;
    margin-top       : -40%;
    opacity          : 0.8;
}

.lead {
    color: white;
}
