.main-footer {
    position: fixed;
    bottom  :0px;
    width   :100%;
    color   :#8e8e93;
}

button {
    margin-left: 5px;
}

.wrapper {
    background-color: #f3f3f4 !important ;
}
.content-wrapper, .right-side {
    background-color: #f3f3f4 ;
}

.table-actions {
    width: 150px;
}

.fixed .main-header {
    top        : 0;
    right      : 0;
    left       : 0;
    padding-top: 10px;
}

.fa-power-off {
    color: #dd4b39;
}

/* Menu lateral  */
.sidebar {
    margin-top: 30px;
}

.sidebarUser {
    padding        : 30px 5px 30px 15px !important;
    color          : #b8c7ce;
    list-style-type: none !important;;
    position       : relative;
    overflow       : visible !important;
    z-index        : 1;
}

.sidebarUser:before {
  content          : "";
  position         : absolute;
  top              : 0;
  left             : 0;
  bottom           : 0;
  right            : 0;
  background-image : url("../../img/user-background.png");
}

.fixed .main-header {
    top        : 0;
    right      : 0;
    left       : 0;
    padding-top: 0px !important;
}

.skin-blue .main-header .logo:hover {
    background-color: #1C2B36 !important;
}

.skin-blue .main-header .logo {
    background-color: #1C2B36;
    color           : #fff;
    border-bottom   : 0 solid transparent;
}

.logoCustom{
    margin-top :  10px !important;
}

.skin-blue .main-header .navbar {
    background-color: transparent !important;
}

.main-header .sidebar-toggle {
    float                     : left;
    background-color          : #c9c9c9;
    background-image          : none;
    border-top-right-radius   : 20px;
    border-bottom-right-radius: 20px;
    padding                   : 15px 15px;
    font-family               : fontAwesome;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #222d32;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #222d32;
    outline-offset  : 0 !important;
}

.main-header .sidebar-toggle:focus, .main-header .sidebar-toggle:active {
    background-color : #c9c9c9;
}

/* Cruds */
.cursor-point {
    cursor: pointer;
}

.actions-table {
    background-color: transparent;
    border          : none;
    padding         : 2px 2px;
}

.actions-table:active {
    background-color: transparent !important;
    border-color    : none !important;
    box-shadow      : none !important;
}

.actions-table:focus {
    background-color: transparent !important;
    border          : none !important;
}

.actions-table:hover {
    background-color: transparent;
    border          : none;
}

.action-pencil {
    color: #f0ad4e;
}

.action-trash-o {
    color: #d9534f;
}

.action-pencil:focus, .action-trash-o:focus {
    outline-color: none !important;
}

.action-pencil:active, .action-trash-o:active {
    box-shadow: none !important;
}

.actions-title{
    text-align: right;
}

.btn-filtro-crud {
    position: absolute;
    top: 10px;
    right: 10px;
}
@media screen and (max-width: 450px) {
    .btn-filtro-crud {
        position: absolute;
        top: 50px !important;
    }
}

.ibox-contant-crud{
    position: relative;
}
/* loading*/
.div-loading {
    height           : 100%;
    width            : 100%;
    background-color : #ffffff;
    z-index          : 1;
    position         : absolute;
    top              : 0;
    left             : 0;
    bottom           : 0;
    padding-top      : 15%;log
    padding-left     : 15%;
}

.loading {
    margin: auto;
}


/* Home */
.home-container{
    text-align: center;
}

/* scrollbar*/
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #222d32;
  outline         : 1px solid slategrey;
}
